.banner {
  background-image: url(../../images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner-text {
  color: white;
}

.banner-text h1 {
  margin-top: 0;
}

.banner-text a {
  display: inline-block;
  background-color: #1EDD88;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}
